@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #87c8be" ;>
        <a class="navbar-brand" href="/">Class car</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Все авто<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="Login">Войти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="Register">Регистрация</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0" asp-controller="Car" asp-action="FindByName" >
                <input class="form-control mr-sm-2" type="text" placeholder="Поиск" aria-label="Поиск" name="CarName">
                <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div>
        <div style="margin-top:90px;"></div>
        @RenderBody()
    </div>
    <footer class="my-5 pt-5 text-muted text-center text-small">
        <hr>
        <p class="mb-1">© 2017-2020 @TestedaApplication.service.Config.ComponyName compony</p>
        <ul class="list-inline">
            <li class="list-inline-item">@TestedaApplication.service.Config.ComponyTel</li>
            <li class="list-inline-item">@TestedaApplication.service.Config.ComponyEmail</li>
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</body>
</html>
